::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    padding: 0;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
}

a {
    text-decoration: none;
}

.head {
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
}



.navbar {
    padding-top: 5px;
    top: 0;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.navbar img {
    padding-left: 5vw;
    width: 50px;
}

nav {
    height: 200px;
}

.navigation {
    width: 500px;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.navigation a ,.navigation-list a{
    color: azure;
    font-weight: bold;
}

.bar {
    display: none;
    height: 1px;
    background-color: aqua;
}

.navigation a:hover+.bar {
    display: block;
    width: 120%;
}

.navigation a:hover {
    font-size: 25px;
}

/* .heading h1{
    font-size: 150px;
    text-align: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
} */



button {
    color: white;
    background-color: rgb(10, 177, 40);
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
    color: rgb(10, 177, 40);
    background-color: transparent;
    border: 1px solid rgb(10, 177, 40);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8vw;
    row-gap: 15px;
    padding-left: 1vw;
    margin: 10px 0px;
    justify-content: center;
}

.gallery img {
    height: 350px;
    width: 300px;
    transition: all 0.5s;
    border-radius: 5px;
    border: 2px solid rgba(183, 183, 183, 0.737);
}

.gallery img:hover {
    /* transform: translateY(-10px); */
    width: 400px;
    height: 450px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 50px;
    column-gap: 20px;
    border-top: 2px solid rgb(158, 213, 75);
    border-radius: 5px;
}

.footer h3 {
    font-size: 19px;
    color: thistle;
}

.Useful-link {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.small-naviagtion,.navigation-list {
    position: absolute;
    z-index: 10;
}
.bars{
    display: none;
}
.bar1,
.bar2,
.bar3 {
    margin-right: 10px;
    height: 4px;
    background-color: whitesmoke;
    width: 40px;
    margin-top: 3px;
    right: 0;
}

.navigation-list {
    display: none;
}

.show {
    display: contents;
}

.cross .bar1 {
    transform: translate(0, 6px) rotate(45deg);
}

.cross .bar2 {
    opacity: 0;
}

.cross .bar3 {
    transform: translate(0, -6px) rotate(-45deg);
}


.menuBtn {
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 5px;
}


@media screen and (max-width:700px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);

    }
    .navigation div{
        display: none;
    }
    .bars{
        display: contents;
    }
}

@media screen and (max-width:400px) {
    .gallery img:hover {
        width: 100%;
    }
    
}