::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    padding: 0;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%), radial-gradient(113% 91% at 17% -2%, #FF5A00FF 1%, #FF000000 99%), radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%), radial-gradient(142% 91% at -6% 74%, #FF0049FF 1%, #FF000000 99%), radial-gradient(142% 91% at 111% 84%, #FF7000FF 0%, #FF0000FF 100%);
}

a {
    text-decoration: none;
}

.head {
    color: whitesmoke;
    text-align: center;
    font-size: 40px;
}

.heading {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}




.navigation a:hover {
    font-size: 25px;
}

.heading h1 {
    font-size: 150px;
    text-align: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.con-button {
    text-align: center;
}

.con-button button {
    height: 50px;
    width: 100px;
}



.about {
    border-top: 2px solid rgb(158, 213, 75);
    font-size: 25px;
    color: antiquewhite;
    padding: 20px 25px;
    border-bottom: 2px solid rgb(158, 213, 75);
}

h2 {
    color: white;
    text-align: center;
}



@media screen and (max-width:700px) {
    .heading {
        /* min-height: 400px; */
        max-height: 400px;
    }

    video {
        top: 0;
        left: 0;
        object-fit: cover;
        transform: translate(0, 0);
    }

    .heading h1 {
        font-size: 60px;
        -webkit-text-stroke: 1px white;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);

    }
   
}